<ion-content>
  <div class="header">
    <h2 class="txt-home">HORARIO</h2>
    <div class="menu-button">
      <ion-button id="menu-button" (click)="app.openMenu()" size="large" fill="clear">
        <ion-icon class="ico-menu-button" name="grid"></ion-icon>
      </ion-button>
    </div>
  </div>
  
  <ion-accordion-group>
    <ion-accordion *ngFor="let asignatura of asignaturas;" toggleIcon="caret-down-circle-outline" id="asignatura_{{asignatura.id}}">
      <ion-item slot="header" id="asignatura_{{asignatura.id}}">
        <ion-label>{{asignatura.nombre}}</ion-label>
      </ion-item>
      
      <div class="ion-padding" slot="content">
        
        <div *ngFor="let clase of clases">

          <div *ngIf="clase.asignaturaId == asignatura.id; then thenBlock"></div>
          <ng-template #thenBlock>

            <ion-card>
              <ion-card-header class="ion-text-center">
                <ion-card-subtitle>{{clase.seccion}} {{clase.fecha}}</ion-card-subtitle>
                <ion-card-title>CLASE {{clase.id}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>Seccion:</ion-col>
                    <ion-col>{{clase.seccion}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>Fecha:</ion-col>
                    <ion-col>{{clase.fecha}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>Hora Inicio:</ion-col>
                    <ion-col>{{clase.horaInicio}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>Hora Termino:</ion-col>
                    <ion-col>{{clase.horaTermino}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
            
          </ng-template>
        </div>
      </div>

    </ion-accordion>
  </ion-accordion-group>
</ion-content>
